body{
    height: 100vh;
    background: url(./Images/descarga\ \(1\).gif);
    background-size: 2045px 1080px;/*2560px 1225px;*/
    background-repeat: no-repeat;
}   

html{
    height: 100vh;
}

@font-face {
    font-family: Harry;
    src: url(./Font_Harry/HARRYP__.TTF);
}

h1{
    font-family: Harry;
    font-size: 145px;
    color:#9BB0C1;
}

.text-aling-center{
    line-height: 45px; /*Espacio entre los elementos de cada renglon*/
    text-align: center;
    vertical-align: baseline;
}

#button{
    margin-right: 20px;
}

#divall{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}