body{
    background: url(./Images/descarga\ \(1\).gif);
    background-size: 2100px 930px;
    background-repeat: no-repeat;
}   

#container{
    color: aliceblue;
}

.text-aling-center{
    height: 100px;
    width: 300px;

    line-height: 30px; /*Espacio entre los elementos de cada renglon*/
    text-align: center;
    vertical-align: middle;
}