@font-face {
    font-family: Harry;
    src: url(../Font_Harry/HARRYP__.TTF);
}
@keyframes background {
	0% {
		background-position: center bottom;
		background-size: 100%;
	}

	100% {
		background-position: center bottom;
		background-size: 150%;
	}
}
@keyframes button {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

html{
    height: 100vh;
}

body{
    height: 100vh;
    background-color: #4a211b;
}

h1{
    font-family: Harry;
    font-size: 100px;
    color: rgb(80, 84, 83);
}

nav{

    background: linear-gradient(135deg,  rgb(243,226,199) 0%,rgb(193,158,103) 15%,rgb(96,66,25) 36%,rgb(233,212,179) 100%); 

}

#letra{
    text-shadow: 15px 10px 25px #ffffff;
}

.loll{
    margin: 0vh;
    padding: 0vh;
    background-image: url(../Images/Casas/FONDO_REGIST.png);
    animation: background  2s ease 0s 1 normal forwards;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    text-align: center;
    line-height: 80px
}
.loll_02{
    margin: 0px;
    padding: 0px;
    size: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
}

.posicion {
    background-position: 0px 50px;   
}

.button{
    /* margin-right: 20px; */
    font-family: Harry;
    font-size: 20px;
    color: #a6332e;
    border-radius: 6px;
    animation: button 2s ease 0s 1 normal forwards;
}
#Name{
    height: 60px;
    width: 275px;
    font-family: Harry;
    font-size: 50px;
    color: chocolate;
    text-align: center;
    border-radius:20px;
    border-color: #604219;
    border: 100px;
}

#send{
    border-color: #a6332e;
    font-size: 50px;
    background-color: white;
}

#send:hover{
    background-color: #4a211b;
    color: white;
}

#label{
    font-family: Harry;
    font-size: 70px;
    color: #8f8d8d;
    border-radius: 20px;
    padding: 10px;
    animation: button 2s ease 0s 1 normal forwards;
}
#logo{
    width: 17vh;
    height: 17vh;

}
img{
    width: 10%;
    height: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
}
