body{
    height: 100vh;
    background: url(../Images/Carga_de_Pantalla/descarga\ \(1\).gif);
    background-size: 2560px 1225px;/*2560px 1225px;*//*2050px 1080px*/
    background-repeat: no-repeat;
}   
html{
    height: 100vh;
}
@font-face {
    font-family: Harry;
    src: url(../Font_Harry/HARRYP__.TTF);
}
h1{
    font-family: Harry;
    font-size: 145px;
    color: #4a211b;
}
.text-aling-center{
    line-height: 80px; /*Espacio entre los elementos de cada renglon*/
    text-align: center;
    /*vertical-align: baseline;*/
}
.button{
    /*margin-right: 20px;*/
    font-family: Harry;
    font-size: 20px;
    color: #a6332e;
    border-radius: 6px;
}
#start{
    padding: 10%;
    padding-bottom: 0%;
    border-color: #a6332e;
    font-size: 100px;
    background-color: white;
    border: 2px;
}
#start:hover{
    background-color: #4a211b;
    color: white;
}
#inst{
    /*padding: 5%;
    padding-left: 10%;
    padding-right: 8%;
    padding-bottom: 0%;*/
    font-size: 60px;
    border-color: #a6332e;
    background-color: white;
    /*border: 2px;*/
}
#inst:hover{
    background-color: #4a211b;
    color: white;
}
#audio{
    height: 10vh;
    width: 10vh;
    margin-top: 1%;
    font-size: 50px;
    background-color: #4a211b;
    color: white;
}
#audio:hover{
    border-color: #a6332e;
    background-color: white;
    color: #a6332e;
}
#credits{
    /*padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0%;*/
    font-size: 60px;
    border-color: #a6332e;
    background-color: white;
    /*border: 2px;*/
}
#credits:hover{
    background-color: #4a211b;
    color: white;
}
#divall{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text-aling-center2{
    text-align: right;
    vertical-align: baseline;
}
#letra{
    text-shadow: 15px 10px 25px #a6332e;
    padding-bottom: 8vh;
}
#logo{
    padding-top: 1%;
    height: 10vh;
    width: 10vh;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#history{
    border-color: #a6332e;
    font-size: 45px;
    background-color: white;
    border: 2px;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}
#history:hover{
    background-color: #4a211b;
    color: white;
}