.nombre{
    text-align: center;
    color: rgba(117, 12, 12, 0);
}
.nombre_visible{
  color: rgb(29, 82, 7);
}

#out:hover{
    background-color: #4a211b;
    color: white;
}
#out{
    border-color: #a6332e;
    font-size: 45px;
    background-color: white;
    border: 2px;
    text-align: center;
}
.out{
    text-align: right;
}
.gamecontainer{
    height: 100vh;
    background-image: url("../Images/Carga_de_Pantalla/Comedor.gif");
    background-size: 100% 100%;
    border-radius: 25px;
    margin-left: 12px;
}
#time{
    padding-left: 2vh;
    filter: blur(1px);
    background-color: antiquewhite;
    border-radius: 20px;
}
#time2{
    color: white;
    font-size: 65px;
    font-family: Harry;
    margin-right: 20px;
    padding-right: 15px;
    color: rgb(80, 84, 83);
}
#score{
    color: white;
    font-size: 65px;
    font-family: Harry;
    color: rgb(80, 84, 83);
}
#siglvl{
    text-align: center;
    color: #555555;
    font-size: 110px;
    font-family: Harry;
    text-shadow: 15px 10px 25px #ffffff;
}
.hidden{
    display: none;
}

.animal{
    height:150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.over{
    border: solid #A9FF9E 3px;
}

* {
  box-sizing: border-box;
}

.img{
  background-position: center;
}

.hidden{
    display: none;
}

.bioma{
    margin: 15px;
    height:240px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.nombre{
    text-align: center;
    color: rgba(117, 12, 12, 0);
}