body{
    height: 100vh;
    background-color: burlywood;
}
.gamecontainer{
    height: 82vh;
    width: 208vh;
    background-image: url("../Images/Carga_de_Pantalla/Comedor.gif");
    background-size: 100% 100%;
    border-radius: 25px;
    margin-left: 12px;
}
#time{
    padding-left: 2vh;
    filter: blur(1px);
    background-color: antiquewhite;
    border-radius: 20px;
}
#out{
    border-color: #a6332e;
    font-size: 45px;
    background-color: white;
    border: 2px;
    text-align: center;
}
#out:hover{
    background-color: #4a211b;
    color: white;
}
.out{
    text-align: right;
}
#time2{
    color: white;
    font-size: 65px;
    font-family: Harry;
    margin-right: 20px;
    padding-right: 15px;
    color: rgb(80, 84, 83);
}
#score{
    color: white;
    font-size: 65px;
    font-family: Harry;
    color: rgb(80, 84, 83);
}
#siglvl{
    text-align: center;
    color: #555555;
    font-size: 110px;
    font-family: Harry;
    text-shadow: 15px 10px 25px #ffffff;
}
.nombre_visible{
    color: rgb(29, 82, 7);
}

.bioma{
    padding: 10vhpx;
    width: 100px;
    height:270px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.hidden{
    display: none;
}
.nombre{
    text-align: center;
    color: rgba(117, 12, 12, 0);
}

.center {
    float: left;
    margin-left: 7.333%;
}

*{
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  
#imagen{
    width: 450px;
    margin-left: 30%;
}

#imagen1{
    margin-left: 30%;
}